{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "react-intl",
      {
        "messagesDir": "./public/messages/"
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ]
}
